.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;

    table {
        width: 100%;
        text-transform: uppercase;
        
        /deep/ .mat-header-row {
            border-color: #C9B7C3;
            border-bottom: 4px solid #C9B7C3;
            background-color: #F0EBEE;

            th {
                text-align: center;
                font-weight: 500;
                font-size: 12px;
            }
        }

        /deep/ .mat-row {
            border-color: #C9B7C3;

            td {
                text-align: center;
                font-size: 12px;
                background-color: #FDFBFA;

                &:last-child {
                    justify-content: space-evenly;
                }

                .mat-stroked-button {
                    border-color: #C9B7C3;
                }
            }
        }
    }
}